<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bundles</title>
  <link rel="stylesheet" type="text/css" href="/public/css/style.css">
</head>

<body>

{{{body}}}

<footer>
</footer>

</body>
<script src="/public/js/script.js"></script>

</html>