<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bundles</title>
  <link rel="stylesheet" type="text/css" href="./css/style.css">
</head>

<body>
  <nav>
    {{#if logged_in}}
    <button id="logout" class="btn">Logout</button>
    {{else}}
    <button id="logout" class="btn">Login</button>
    {{/if}}
    <a href="/profile/{{user.username}}">Profile</a>
  </nav>

{{{body}}}

<footer>
</footer>

</body>
  <script src="./js/script.js"></script>
</html>