<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bundl</title>
  <link rel="stylesheet" type="text/css" href="./css/style.css">
</head>

<body>
  {{#if logged_in}}
  <nav>
    <button class="btn"><a href="/profile/{{user.username}}">Profile</a></button>
    <button data-open-modal class="btn">Logout</button>
    <dialog data-modal class="modal">
      <h2>Logout?</h2>
      <div class="modal-wrapper"> 
        <button class="btn" onclick="handleLogout(event)">Yes</button>
        <button class="btn" data-close-modal>No</button>
      </div>
    </dialog>
  </nav>
  {{/if}}

{{{body}}}

<footer>
</footer>

</body>
  <script src="./js/script.js"></script>
</html>