<header>
    <section>
        <h2 data-forum_id="{{forum.id}}">{{forum.name}}</h2>
    </section>
</header>

<main>
    {{!-- POST FORM CONTAINER --}}
    <section class="new-post">
        <form onsubmit="newPost(event)">
            <input type="text" name="title" id="postTitle">
            <input type="text" name="content" id="postContent">
            <input onclick="newPost(event)" type="submit" class="btn" value="Post">
        </form>
    </section>

    <section class="forum-wrapper">
        <section>
            <p id="username-handle">{{forum.name}}</p>
            <button class="btn" onclick="followForum(event)" id="follow-user">Follow</button>
        </section>
    </section>

    <section class="post-container">
        {{#each forum.posts as |post|}}
        {{> post-timeline}}
        {{/each}}
    </section>
</main>