<section>
    <h2>{{user.username}}</h2>

    <section class="post-container">    
        {{#each posts as |post|}}
        {{> post-timeline}}
        {{/each}}
    </section>
</section>
<script src=""></script>