<main class="forum-wrapper">
    <header class="forum-header">
        <section>
            <div class="forum-title">
                <h2 data-user_id="{{user.id}}">{{user.username}}</h2>
            </div>
        </section>
    </header>
    <nav class="profile-nav">
        <button class="btn-dark">All posts</button>
    </nav>
    <section class="forum-main">
        <section class="post-container">
            {{#each posts as |post|}}
            {{> post-timeline}}
            {{/each}}
        </section> 
        <aside>
            <section class="bundl-list">
                <h2>My bundls</h2>
                <hr>
                {{#each user.forums as |forum|}}
                {{> forum-list}}
                {{/each}}
            </section>
        </aside>
    </section>
</main>