<div class="profile-login">
    <h1 class="sign-in">Sign In to Your Profile</h1>
    <form class="login-form">
        <div class="info-format">
            <label for="username">Username:</label>
            <input class="form-input" type="text" id="username-login">
        </div>
        <div class="info-format">
            <label for="email">Email:</label>
            <input class="form-input" type="text" id="email-login">
        </div>
        <div class="info-format">
            <label for="password">Password:</label>
            <input class="form-input" type="text" id="password-login">
        </div>
        <div class="info-format">
            <button type="submit">Login</button>
        </div>
    </form>
</div>
<br>
<div class="profile-signup">
    <h1 class="sign-up">Sign Up For a Profile Today!</h1>
    <form class="signup-form">
        <div class="info-format">
            <label for="username">Username:</label>
            <input class="form-input" type="text" id="username-signup">
        </div>
        <div class="info-format">
            <label for="email">Email:</label>
            <input class="form-input" type="text" id="email-signup">
        </div>
        <div class="info-format">
            <label for="password">Password:</label>
            <input class="form-input" type="text" id="password-signup">
        </div>
        <div class="info-format">
            <button type="submit">Sign-Up</button>
        </div>
    </form>
</div>
      


