<header>
    <section>
        <h2 data-user_id="{{user.id}}">{{user.username}}</h2>

        {{#isEqual user_id user.id}}
        <form action="/api/users/avatar" method="post" enctype="multipart/form-data">
            <input type="file" name="avatar" id="avatar">
        </form>
        {{/isEqual}}

    </section>
</header>

<main class="forum-main">
    <section class="post-container">
        {{#each posts as |post|}}
        {{> post-timeline}}
        {{/each}}
    </section>
    <aside>

    </aside>
</main>