<section>
    <h1>Welcome to bundl</h1>

    {{!-- BRIEF DESC --}}

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi sequi maiores perspiciatis quod sunt dolor accusamus officia odio! Praesentium, laudantium!</p>
</section>

<div class="wrapper">
    <div class="profile-login">
        <h2 class="sign-in">Sign In to Your Profile</h2>
        <form class="login-form">
            <div class="info-format">
                <label for="username">Username:</label>
                <input class="form-input" type="text" id="username-login">
            </div>
            <div class="info-format">
                <label for="email">Email:</label>
                <input class="form-input" type="text" id="email-login">
            </div>
            <div class="info-format">
                <label for="password">Password:</label>
                <input class="form-input" type="text" id="password-login">
            </div>
            <div class="info-format">
                <button type="submit">Login</button>
            </div>
        </form>
    </div>


    <div class="profile-signup">
        <h2 class="sign-up">Sign Up For a Profile Today!</h2>
        <form class="signup-form">
            <div class="info-format">
                <label for="username">Username:</label>
                <input class="form-input" type="text" id="username-signup">
            </div>
            <div class="info-format">
                <label for="email">Email:</label>
                <input class="form-input" type="text" id="email-signup">
            </div>
            <div class="info-format">
                <label for="password">Password:</label>
                <input class="form-input" type="text" id="password-signup">
            </div>
            <div class="info-format">
                <button type="submit">Sign-Up</button>
            </div>
        </form>
    </div>
</div>
<script src="./js/login.js">
      


