/* IMPORTS */

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500&display=swap');

:root {
  --light-text: #CEDDEF;
  --light-blue-bg: #5782C9;
  --darkbg: #3A68B3;
  --dark-text: #456177;
  --darkbg-2: #324757;
  --padding: 0.75rem;
  --text: 'Comfortaa', 'sans-serif';
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: var(--light-text);
}

.main-body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;

}

/* MAIN */

/* NAVIGATION BARS */

.main-nav {
  position: sticky;
  top: 0;
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr;
  width: 100%;
  height: fit-content;
  padding: var(--padding) 0px;
  background: var(--light-blue-bg);
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.389);
  justify-items: center;
}

.main-nav div {
  display: flex;
  gap: 1ch;
}

.profile-btn {
  display: flex;
  align-items: center;
  gap: 10px;
}
.profile-btn img {
  border: 2px solid var(--light-text);
}


/* LINKS */

a {
  text-decoration: none;
  color: inherit;
}

a:any-link {
  text-decoration: none;
}

/* WELCOME PAGE */

/* WRAPPER */

.welcome-wrapper {
  width: 100%;
}

.welcome-wrapper section:nth-child(odd) {
  background-color: var(--darkbg);
}

.welcome-wrapper section:nth-child(even) {
  background-color: var(--lightbg);
  box-shadow: inset 0 4px 7px rgba(0, 0, 0, 0.389),
              inset 0 -4px 7px rgba(0, 0, 0, 0.389);
}

.login-wrapper {
  display: flex;
  justify-content: center;
}

.form-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  align-items: start;
  justify-items: center;
}

/* HERO */

.hero {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  padding: 2em;
}

.title {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.title img {
  display: none;
  max-height: 150px;
}

.title h1 {
  font-size: 5em;
  font-weight: 400;
}

h1 {
  font-family: 'Comfortaa', 'sans-serif';
  color: var(--light-text);
  font-weight: 400;
  font-size: 3em;
  margin: 10px;
}

h1, h2, h3, h4, h5 ,h6 {
  margin: 10px 0;
}
  
.container {
  text-align: center;
  margin-bottom: 20px;
}

.description {
  font-size: 18px;
  margin-bottom: 20px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* LOGIN FORM */

.profile-login,
.profile-signup {
  display: flex;
  flex-flow: column nowrap;
  max-width: 60vw;
  align-items: center;
  padding: 3ch 6ch;
}

.profile-login,
.profile-signup h2 {
  text-align: center;
}

.profile-login form,
.profile-signup form {
  display: flex;
  flex-direction: column;
  gap: var(--padding);
  min-width: 300px;
}

.profile-login .info-format,
.profile-signup .info-format {
  margin-bottom: 10px;
  max-width: 30ch;
}

.profile-login label,
.profile-signup label {
  font-weight: bold;
}

.form-input,
.form-input {
  padding: 10px;
  font-size: 16px;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

textarea {
  resize: none;
  padding: 0;
  margin: 0;
}



/* FORUM/PROFILE CSS */

hr {
  width: 100%;
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

/* FORUM HEADER */

.forum-header {
  display: flex;
  justify-items: center;
  justify-content: center;
  background: var(--light-blue-bg);
  padding: var(--padding);
}

.forum-title {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.profile-img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

/* STANDARD WRAPPER */

.forum-wrapper { 
  display: grid;
  grid-template-columns: 1fr;
  max-width: 100em;
  width: 90vw;
  padding: var(--padding);
  background-color: var(--darkbg);
}


.forum-main {
  display: grid;
  grid-template-columns: 1fr;
  padding: var(--padding) 0;
  gap: 1rem;
  align-items: start;
}

/* PAGE NAV */

.profile-nav {
  width: 100%;
  background: var(--dark-text);
}

/* ASIDE */

aside {
  order: -1;
  background: var(--light-blue-bg);
  padding: var(--padding);
}

aside h2, h3 {
  font-family: var(--text);
  font-weight: 400;
}

aside .btn {
  width: 100%;
}

.bundl-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--padding);
  text-align: center;
}

.bundl-list a {
  text-align: left;
  padding: 1ch 0;
  font-family: var(--text);
}




/* BUTTON */

.btn,
.largebtn,
.btn-light,
.btn-dark {
  cursor: pointer;
  padding: 1ch 2ch;
  transition: box-shadow 300ms ease;
  color: var(--dark-text);
  background: transparent;
  box-shadow: inset 0 0 0 0 var(--darkbg-2);
  font-size: 1em;
  border: 0px;
  border-bottom: 2px solid var(--light-text);
}

.btn,
.btn-light {
  background: transparent;
  color: var(--light-text)
}

.btn-dark,
.largebtn {
  background: transparent;
  color: var(--light-text);
  box-shadow: inset 0 0 0 0 var(--darkbg);
}

/* MODAL STYLING */

.modal {
  padding: 1em;
  text-align: center;
  max-width: 50ch;
  min-width: 30ch;
}

.modal h2 {
  margin: 2em;
}

.modal-wrapper {
  display: flex;
  flex-flow: column nowrap;
  gap: var(--padding);
}

.modal input {
  padding: 1ch;
}

.modal .btn {
  color: black;
  border-bottom: 2px solid var(--darkbg);
}

.modal-input {
  display: flex;
  flex-flow: column nowrap;
  gap: 1ch;
}

.modal-confirm {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

#postContent {
  height: 100px
}

/* POST CONTENT */

.post-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.post {
  display: grid;
  grid-template-columns: 1fr;
  background: var(--light-text);
  padding: 0.75rem;
}


/* POST TITLE */
.post-title-div,
.post-info-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 1rem;
}

.post-title-div h3 {
  overflow: hidden;
}

.post-title-div a {
  border: 2px solid black;
  padding: 1ch;
  border-radius: 2rem;
  color: var(--light-text);
  background-color: var(--darkbg-2);
}
/* POST PARA */
.post p {
  margin: var(--padding);
}

.post-info-div {
  background-color: transparent;
}

/* USER INFO */

.user-info {
  display: flex;
}

.user-info a {
  display: flex;
  align-items: center;
}

.user-img {
  width: 30px;
  height: 30px;
  max-width: 30px;
  max-height: 30px;
  border-radius: 50%;
}

/* COMMENT BOX */

.comment-div {
  display: grid;
  margin: 1rem 0;
  grid-template-columns: 1fr;
  gap: var(--padding)
}

[data-comment] {
  width: 100%;
}

.comment-box .btn-dark {
  float: right;
}

/* FOOTER */

footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  margin-top: auto;
  height: fit-content;
  background: var(--darkbg-2);
  width: 100%;
}

footer h3 {
  text-align: center;
}

.gh-contact {
  display: flex;
  flex-flow: column nowrap;
  gap: 1ch;
  list-style-type: none;
  margin-inline: 0;
  padding: 0;
}

  
/* MEDIA QUERIES */

@media(min-width: 40em) {
  .title {
    display: flex;
    flex-flow: row nowrap;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: baseline;
  }

  .title h1 {
    font-size: 7em;
  }

  .title img {
    display: block;
    height: 5em;
    margin-left: 1rem;
  }
}

@media(min-width: 60em) {

  .main-nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .title h1 {
    font-size: 10em;
  }

  .title img {
    height: 7.5em;
  }

  .largebtn:hover {
    box-shadow: inset 300px 0 0 0 var(--light-text);
    color: var(--dark-text);
  }

  .btn:hover {
    box-shadow: inset 0 -50px 0 0 var(--darkbg);
    border-bottom: 2px solid var(--darkbg);
    color: var(--light-text);
  }

  .btn-dark:hover {
    box-shadow: inset 0 -50px 0 0 var(--light-text);
    color: var(--dark-text);
  }

  .form-wrapper {
    grid-template-columns: 1fr 1fr;
    max-width: 60em;
  }

  .forum-main {
    grid-template-columns: 3fr 1fr;
  }

  aside {
    order: 2
  }
}