/* IMPORTS */

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500&display=swap');


body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  font-family: Arial, sans-serif;
}

:root {
  --light-text: #CEDDEF;
  --dark-bg: #5782C9;
  --dark-text: #456177;
  --light-text: #CEDDEF;
  --darkbg-2: #324757;
  --darkbg: #3A68B3;
  --lightbg: #5782C9;
}

/* NAVIGATION */

nav {
  position: sticky;
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr;
  width: 100%;
  height: fit-content;
  padding: 0.5rem;
  background: var(--dark-bg);
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.389);
  justify-items: center;
}

/* LINKS */

a {
  text-decoration: none;
  color: var(--light-blue-bg);
}

a:any-link {
  text-decoration: none;
}

/* WELCOME PAGE */

/* WRAPPER */

.welcome-wrapper {
  width: 100%;
}

.welcome-wrapper h2, h3 {
  text-transform: uppercase;
}

.welcome-wrapper section:nth-child(odd) {
  background-color: var(--darkbg);
}

.welcome-wrapper section:nth-child(even) {
  background-color: var(--lightbg);
  box-shadow: inset 0 4px 7px rgba(0, 0, 0, 0.389),
              inset 0 -4px 7px rgba(0, 0, 0, 0.389);
}

.login-wrapper {
  display: flex;
  justify-content: center;
}

.form-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  align-items: start;
  justify-items: center;
}

/* STANDARD WRAPPER */

.forum-wrapper { 
  display: grid;
  grid-template-columns: 1fr;
  max-width: 100em;
  width: 90vw;
  padding: 10px;
}

/* HERO */

.hero {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  padding: 2em;
}

.title {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.title img {
  display: none;
  max-height: 150px;
}

.title h1 {
  font-size: 5em;
  font-weight: 400;
}

h1 {
  font-family: 'Comfortaa', 'sans-serif';
  color: var(--light-text);
  font-weight: 400;
  font-size: 3em;
  margin: 10px;
}
  
.container {
  text-align: center;
  margin-bottom: 20px;
}

.description {
  font-size: 18px;
  margin-bottom: 20px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* LOGIN FORM */

.profile-login,
.profile-signup {
  display: flex;
  flex-flow: column nowrap;
  max-width: 60vw;
  align-items: center;
  padding: 3ch 6ch;
}

.profile-login,
.profile-signup h2 {
  text-align: center;
}

.profile-login form,
.profile-signup form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  min-width: 300px;
}

.profile-login .info-format,
.profile-signup .info-format {
  margin-bottom: 10px;
  max-width: 30ch;
}

.profile-login label,
.profile-signup label {
  font-weight: bold;
}

.form-input,
.form-input {
  padding: 10px;
  font-size: 16px;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

/* BUTTON */

.btn,
.largebtn {
  cursor: pointer;
  border: 3px solid transparent;
  border-radius: 0.5rem;
  padding: 1ch 3ch;
  transition: box-shadow 300ms ease;
  color: var(--dark-text);
  background: var(--light-text);
  box-shadow: inset 0 0 0 0 var(--darkbg-2);
  font-size: 1em;
}

.btn {
  border-radius: 0;
  background: transparent;
  color: var(--light-text)
}

/* MODAL STYLING */

.modal {
  padding: 1em;
  text-align: center;
  max-width: 50ch;
  min-width: 30ch;
}

.modal h2 {
  margin: 2em;
}

.modal-wrapper {
  display: flex;
  flex-flow: column nowrap;
  gap: 1em;
}

/* POST CONTENT */

.post-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.post {
  display: grid;
  grid-template-columns: 1fr;
  background: var(--dark-bg);
  padding: 1rem;
}

/* FOOTER */

footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: var(--darkbg-2);
  width: 100%;
  justify-items: center;
}


  
/* MEDIA QUERIES */

@media(min-width: 40em) {
  .title {
    display: flex;
    flex-flow: row nowrap;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: baseline;
  }

  .title h1 {
    font-size: 7em;
  }

  .title img {
    display: block;
    height: 5em;
    margin-left: 1rem;
  }
}

@media(min-width: 60em) {

  nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .title h1 {
    font-size: 10em;
  }

  .title img {
    height: 7.5em;
  }

  .largebtn:hover {
    box-shadow: inset -300px 0 0 0 var(--darkbg-2);
    color: var(--light-text);
  }

  .btn:hover {
    box-shadow: inset 0 -50px 0 0 var(--darkbg);
    color: var(--light-text);
  }

  .form-wrapper {
    grid-template-columns: 1fr 1fr;
    max-width: 60em;
  }
}